.bg-movie {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.custom-bg {
    background-image: linear-gradient(to bottom, rgb(6, 15, 36) 150px, rgba(79, 79, 79, 0.84) 100%);
    padding: 30px 0;
}
.summary {
    font-size: 0.8em;
}
.poster {
    border-radius: 10px;
}
